{
  "extends": "./node_modules/fbjs-scripts/eslint/.eslintrc",
  "rules": {
    // These are functional errors that could either be fixed or be locally disabled in specific
    // files
    "no-bitwise": 0,
    "constructor-super": 0,
    "no-this-before-super": 0,
    "no-self-compare": 0,
    "operator-assignment": 0,
    "consistent-return": 0,

    // These are stylistic errors that could be easily fixed
    "semi": 0,
    "comma-dangle": 0,
    "space-before-function-paren": 0,
    "curly": 0,
  }
}
