dist
pages/generated
pages/out
type-definitions/ts-tests/*.ts
type-definitions/flow-tests/

!type-definitions/ts-tests/covariance.ts
!type-definitions/ts-tests/deepCopy.ts
!type-definitions/ts-tests/empty.ts
!type-definitions/ts-tests/es6-collections.ts
!type-definitions/ts-tests/exports.ts
!type-definitions/ts-tests/from-js.ts
!type-definitions/ts-tests/functional.ts
!type-definitions/ts-tests/groupBy.ts
!type-definitions/ts-tests/list.ts
!type-definitions/ts-tests/map.ts
!type-definitions/ts-tests/ordered-map.ts
!type-definitions/ts-tests/ordered-set.ts
!type-definitions/ts-tests/partition.ts
!type-definitions/ts-tests/range.ts
!type-definitions/ts-tests/record.ts
