@link-color: #4183c4;
@header-color: #212121;
@body-color: #424242;

html, body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: @body-color;
  font: 14pt/20pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.1pt;
}

h1, h2, h3, h4, h5, h6 {
  color: @header-color;
}

a {
  color: @link-color;
  text-decoration: none;
}

@media only screen and (max-width: 680px) {

  body {
    font-size: 12pt;
    line-height: 18pt;
  }

}
