@import (less) '../../src/base.less';

.pageBody {
  padding: 0 36px;
  position: relative;
}

.contents {
  margin: 0 auto;
  max-width: 740px;
  padding: 64px 0;
  font-size: 13px;
  line-height: 18px;
}

.miniHeader {
  background: #6dbcdb;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.miniHeaderContents {
  text-align: right;
  margin: 0 auto;
  max-width: 740px;
  padding: 12px 36px;
  position: relative;
}

.logo {
  float: left;
  top: 12px;
  left: -140px;
}

.logo > .svg {
  height: 24px;
}

.miniHeaderContents a {
  color: #fff;
  margin-right: 1em;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.15);
}

.miniHeaderContents a:last-child {
  margin-right: 0;
}

.contents a {
  padding: 2px 4px;
  margin: -2px -4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.01);
  box-shadow: inset 0 0 1px rgba(0,0,0,0.08);
  .transition(background-color 0.15s);
}

.contents a:hover {
  background-color: rgba(112, 170, 220, 0.2);
}

.typeHeader {
  margin: 1em 0;
  font-size: 21px;
  line-height: 36px;
  font-weight: normal;
  color: #555;
}

.interfaceMember {
  margin: 1em 0;
}

.infoHeader {
  margin: 1.5em 0 0.5em;
  color: #555;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  font-size: 10px;
}

.codeBlock {
  background: #FCFBFA;
  border-left: solid 3px #ECEAE9;
  display: inline-block;
  font-family: Menlo, monospace;
  margin: 0.5em 0;
  min-width: 76ch;
  padding: 0.5em 16px 0.5em 12px;
  white-space: pre;
}

.memberSignature {
  border-left-color: #9CDAE9;
}

.t.over {
  padding-bottom: 3px;
  border-bottom: solid 2px rgba(0,0,0,0.05);
}

.memberLabel {
  margin-left: 2ch;
  .transition(margin-left 0.3s);
  cursor: pointer;
  .select-none()
}

.inherited,
.override {
  border-radius: 8px;
  color: #fff;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 0.1ch;
  line-height: 8px;
  margin: -1px 2px -1px 2ch;
  padding: 1px 5px 1px;
  position: relative;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  text-transform: uppercase;
  top: -1px;
}

.inherited {
  background-color: #D4DAE7;
}

.override {
  background-color: #EFD2C3;
}

.memberLabel.open {
  margin-left: 0;
}

.detail {
  margin-bottom: 2.5em;
  overflow: hidden;
  box-sizing: border-box;
}

.groupTitle {
  margin: 2em 0 1em;
  font-size: 17px;
  line-height: 36px;
  font-weight: normal;
  color: #555;
}

.doc {
  margin: 2em 0 3em;
}

// TODO: not random colors

.t.interfaceDef {
  color: #808890;
  font-family: Menlo, monospace;
}

.t.member {
  color: #808890;
  font-family: Menlo, monospace;
}

.t.callSig {
  color: #808890;
  font-family: Menlo, monospace;
}

.t.blockParams {
  padding-left: 2ch;
}

.t.keyword {
  color: #A51;
}

.t.fnQualifier,
.t.fnName {
  color: #3b5998;
}

.t.primitive {
  color:#458
}

.t.typeParam {
  color:#900;
}

//.t.type > a {
.t.typeQualifier,
.t.typeName {
  color: #013679;
}

.t.param {
  color:#945277;
}

.t.memberName {
  color:teal
}

// macros

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}

.select-none () {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
